#countLabel {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#btnContainer {
    text-align: center;
}

.buttons {
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsla(209, 100%, 41%, 0.493);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover {
    background-color: hsla(209, 100%, 26%, 0.493);
}

.buttons:active {
    background-color: hsla(209, 96%, 10%, 0.493)
}